<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>PRS-评审打分页面</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/register.css"
	th:href="@{/css/register.css}" />
<style type="text/css">
#opinion{
	width:190px;
}
.register{
	padding-top: 100px;
	height:350px;
}
.layui-footer{
	height:50px;
	margin-top:58px;
	background: #ccc;
}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">科研项目评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
		</div>
	</div>
	<div class="layui-col-md12">
		<div id="register-wrap">
			<div class="register">
				<form class="layui-form layui-bg-gray" method="POST" th:action="@{/review/grade}">
					<div class="layui-form-item">
						<label class="layui-form-label">评审分数</label>
						<div class="layui-input-inline">
							<!-- <input id="grade" type="radio" name="grade" value="PASS" title="通过"  checked="checked"/> <input
								type="radio" name="grade" value="REJECT" title="未通过"/> -->
								<input id="grade" type="text" name="grade" 
							placeholder="输入0-100的数字" lay-verify="grade" autocomplete="off"
							class="layui-input"/>
						</div>
					</div>
					<div class="layui-form-item">
					<label class="layui-form-label">专家评语</label>
						<div class="layui-input-block">
						<textarea id="opinion" name="opinion" placeholder="请输入您的评语" class="layui-textarea" lay-verify="required"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit="submit" lay-filter="appRegister">提交评审结果</button>
						</div>
					</div>
					<input type="hidden" name="projectId" th:value="${projectId}"/>
					<input name="token" type="hidden" th:value="${session.token}"/>
					<input type="hidden" name="applicantId" th:value="${applicantId}"/>
					<input type="hidden" name="groupId" th:value="${groupId}"/>
				</form>
			</div>
		</div>
	</div>
	<div class="layui-col-md12">
		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p>© All Rights Reserve By PRS</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		//JavaScript代码区域
		layui.use(['form','jquery','layer'], function() {
			var form = layui.form
			,$ = layui.$, layer = layui.layer;
			
			form.verify({
				grade: function(value, item){
					if(!new RegExp("^(\\d|[1-9]\\d|100)$").test(value)){
					      return "分数只能为0-100的数字";
					}
				}
			});
 			//监听提交
			form.on('submit(appRegister)', function(data) {
				  
			}); 
		});
		/* ]]> */	
	</script>
</body>
</html>