<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>PRS-领域标签管理</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/allocate.css"
	th:href="@{/css/allocate.css}" />
<style type="text/css">
#tableInfo{
	width: 1008px;
}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">科研项目评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->

			<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img" /><span th:text="${session.user.username}">贤心</span></a></li>
				<li class="layui-nav-item"><a href="" th:href="@{/user/logout}">注销</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;" th:href="@{/project/allocateManagePage}">项目分配管理</a></li>
					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;" th:href="@{/project/managePage}">项目管理</a></li>
					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">用户管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=1}">申请者管理</a>
							</dd>
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=2}">评审专家管理</a>
							</dd>
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=3}">工作人员管理</a>
							</dd>
						</dl></li>
						<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;" th:href="@{/field/fieldPage}">领域标签管理</a></li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<span class="layui-breadcrumb" lay-separator="/">
			  <a href=""><cite>领域标签管理</cite></a>
			</span>
			<blockquote class="layui-elem-quote">可添加、删除、修改、查询领域标签信息</blockquote>
			<form class="layui-form" method="POST">
				<div class="layui-inline">
					<label class="layui-form-label">标签名</label>
					<div class="layui-input-inline">
						<input id="fieldName" type="text" name="fieldName" 
							placeholder="根据领域名模糊搜索" autocomplete="off"
							class="layui-input"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"></label>
					<a id="select" class="layui-btn"><i style="padding-right: 4px;" class="layui-icon">&#xe615;</i>查询</a>
					<a id="add" class="layui-btn"><i style="padding-right: 4px;" class="layui-icon">&#xe608;</i>添加</a>
				</div>
			</form>
			<div id="tableInfo">
				<table class="layui-table" lay-data="{url:'/prs/field/fields.json', id:'fieldinfo'}" lay-filter="fieldinfo">
			  <thead>
			    <tr>
			      <th lay-data="{field:'id', width:100, sort: true}">ID</th>
			      <th lay-data="{field:'fieldName',edit: 'text' ,width:140}">领域名</th>
			      <th lay-data="{field:'createUserName', width: 140}">创建人</th>
			      <th lay-data="{field:'createTime', width:220, sort: true}">创建时间</th>
			      <th lay-data="{field:'lastUpdateTime', width:220, sort: true}">最后更新时间</th>
			      <th lay-data="{fixed: 'right', width: 180, align:'center', toolbar: '#barDemo'}">操作</th>
			    </tr>
			  </thead>
			</table>
				<script type="text/html" id="barDemo">
  					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i style="padding-right: 4px;" class="layui-icon">&#xe640;</i>删除</a>
				</script>
			</div>
		</div>
		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p style="text-align: center;">© All Rights Reserve By PRS</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/
		//JavaScript代码区域
		layui.use([ 'jquery', 'layer' ,'form' ,'table', 'laydate','element'], function() {
			var $ = layui.$, 
			layer = layui.layer,
			form = layui.element,
			table = layui.table,
			laydate = layui.laydate,
			element = layui.element;
			
			var message = [[${message}]];
			if (message != null){
				layer.msg(message)
			}
			
			//监听工具条
			  table.on('tool(fieldinfo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			    var data = obj.data //获得当前行数据
			    ,layEvent = obj.event; //获得 lay-event 对应的值
			    if(layEvent === 'del'){
			    	layer.confirm('真的删除行么', function(index){
				        obj.del(); //删除对应行（tr）的DOM结构
				        layer.close(index);
				        //向服务端发送删除指令
				        $.get("/prs/field/delete", { id: data.id} );
				      });
			    } 
			  });
			//监听单元格编辑
			  table.on('edit(fieldinfo)', function(obj){
			    var value = obj.value //得到修改后的值
			    ,data = obj.data //得到所在行所有键值
			    ,field = obj.field; //得到字段
			    /* layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value); */
			    if (value == null || value == ''){
			    	layer.msg("字段[" + field + "]值不能为空！！！");
			    	flag = false;
			    } else {
			    	$.ajax({
			             type: "POST",
			             url: "/prs/field/update",
			             data: {
			            	 id:data.id,
			            	 fieldName : data.fieldName
			             },
			             dataType: "json",
			             success: function(data){
			                     layer.msg(data.data);   
			             }
			         });
			    }
			  });
			  $('#select').click(function(){
				   table.reload("fieldinfo",{
					   where: { //设定异步数据接口的额外参数，任意设
						   fieldName: $('#fieldName').val()
					   }
					   ,page: {
					     curr: 1 //重新从第 1 页开始
					   }
					 });
				});
			  $('#add').click(function(){
				  window.location.href="/prs/field/addFieldPage";
				});
			  });
		/* ]]> */
	</script>

</body>
</html>