<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>PRS-申请记录页面</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/baseinfo.css"
	th:href="@{/css/baseinfo.css}" />
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">科研项目评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->

			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img" /> 贤心
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本信息</a>
						</dd>
						<dd>
							<a href="">我的申请</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="">注销</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;">项目申请</a></li>
					<li class="layui-nav-item"><a href="javascript:;">个人中心</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;">基本信息</a>
							</dd>
							<dd>
								<a href="javascript:;">我的申请</a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			
		</div>

		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p style="text-align: center;">© All Rights Reserve By PRS</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

	<script>
		//JavaScript代码区域
		layui.use([ 'form', 'jquery', 'layer' ,'element','upload'], function() {
			var form = layui.form, $ = layui.$, layer = layui.layer,element = layui.element ,upload = layui.upload;

		});
	</script>

</body>
</html>