<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>PRS-基本信息页面</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/baseinfo.css"
	th:href="@{/css/baseinfo.css}" />
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">科研项目评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->

			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img" /><!-- <span
						th:if="${applicant.applicantName} != null"
						th:text="${applicant.applicantName}">贤心</span> -->贤心
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="" th:href="@{/applicant/baseinfoPage}">基本信息</a>
						</dd>
						<dd>
							<a href="">我的申请</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="">注销</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;">项目申请</a></li>
					<li class="layui-nav-item"><a href="javascript:;">个人中心</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="" th:href="@{/applicant/baseinfoPage}">基本信息</a>
							</dd>
							<dd>
								<a href="javascript:;">我的申请</a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<table class="layui-hide" id="baseinfo" lay-filter="demo"></table>

			<script type="text/html" id="barDemo">
               <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
               <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	        </script>
		</div>
		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p style="text-align: center;">© All Rights Reserve By PRS</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

	<script>
		//JavaScript代码区域
		layui.use([ 'form', 'jquery', 'layer', 'element','table'],function() {
			var form = layui.form, 
				$ = layui.$, 
				layer = layui.layer, 
				element = layui.element, 
				table = layui.table;
			
			//执行一个 table 实例
			  table.render({
			    elem: '#baseinfo'
			    ,url: '/prs/userBaseInfo.json'
			    ,width: 968
			    ,height: 80
			    ,skin: 'row' //无边框风格
			    ,even: true //开启隔行背景
			    ,cols: [[ //表头
			      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
			      ,{field: 'applicantName', title: '用户名', width:180}
			      ,{field: 'sex', title: '性别(1：男，0：女)', width:180, sort: true}
			      ,{field: 'mail', title: '邮箱', width:180} 
			      ,{field: 'phone', title: '手机号', width: 180}
			      ,{fixed: 'right', width: 160, align:'center', toolbar: '#barDemo'}
			    ]]
			  });
			
			//监听工具条
			  table.on('tool(demo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			    var data = obj.data //获得当前行数据
			    ,layEvent = obj.event; //获得 lay-event 对应的值
			    if(layEvent === 'detail'){
			      layer.msg('查看操作');
			    } else if(layEvent === 'del'){
			      layer.confirm('真的删除行么', function(index){
			        obj.del(); //删除对应行（tr）的DOM结构
			        layer.close(index);
			        //向服务端发送删除指令
			      });
			    } else if(layEvent === 'edit'){
			      layer.msg('编辑操作');
			    }
			  });
		});
	</script>

</body>
</html>