<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>PRS-项目申请</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/upload.css"
	th:href="@{/css/upload.css}" />
<!-- Loading Bootstrap -->
 <link
	href="../../static/flatui/css/vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{/flatui/css/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<!--  Loading Flat UI-->
<link href="../../static/flatui/css/flat-ui.min.css"
	th:href="@{/flatui/css/flat-ui.min.css}" rel="stylesheet" /> 
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">科研项目评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->

			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img" /> <span th:text="${session.user.username}">贤心</span>
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="" th:href="@{/user/baseinfoPage?role=1}">基本信息</a>
						</dd>
						<dd>
							<a href="" th:href="@{/user/applyInfoPage}">我的申请</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="" th:href="@{/user/logout}">注销</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item"><a class=""
						href="javascript:;" th:href="@{/project/uploadPage}">项目申请</a></li>
					<li class="layui-nav-item"><a href="javascript:;">个人中心</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="" th:href="@{/user/baseinfoPage?role=1}">基本信息</a>
							</dd>
							<dd>
								<a href="" th:href="@{/user/applyInfoPage}">我的申请</a>
							</dd>
						</dl></li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<span class="layui-breadcrumb" lay-separator="/">
			  <a href=""><cite>项目申请</cite></a>
			</span>
			<blockquote class="layui-elem-quote">上传仅支持.pdf、.doc、.docx格式</blockquote>
			<form class="layui-form layui-bg-gray" action="" method="POST" th:action="@{/project/upload}" enctype="multipart/form-data">
				<div class="layui-form-item">
					<div class="layui-input-block">
						<input id="projectName" name="projectName"
							class="layui-input" type="text" placeholder="请输入项目名" lay-verify="projectName"/>
					</div>
					<input name="token" type="hidden" th:value="${session.token}"/>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<input id="fields" name="tagsinput"
							class="tagsinput tagsinput-typeahead input-lg" type="text" placeholder="请输入项目所属领域,输入文字并回车确定"/>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<textarea id="description" name="description" placeholder="请输入项目摘要" class="layui-textarea" lay-verify="description"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block file">
						<!-- <button type="button" class="layui-btn" id="upload">
							<i class="layui-icon" style="padding-left: 10px;">&#xe67c;</i>上传文件
						</button> -->
						 <span class="icon"><i class="layui-icon">&#xe67c;</i>上传文件</span><input lay-verify="upload" class="uploadBtn" id="upload" name="file" type="file" value="上传文件"/>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<!-- <button type="submit" class="layui-btn" id="cupload" lay-filter="up">
							<i class="layui-icon cicon">&#xe618;</i>确认申请
						</button> -->
						<button class="layui-btn" lay-submit="submit" lay-filter="up"><i class="layui-icon cicon">&#xe618;</i>确认申请</button>
					</div>
				</div>
			</form>
		</div>

		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p style="text-align: center;">© All Rights Reserve By PRS</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
	<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
	<script src="../../static/flatui/js/vendor/jquery.min.js"
		th:src="@{/flatui/js/vendor/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../static/flatui/js/vendor/video.js"
		th:src="@{/flatui/js/vendor/video.js}"></script>
	<script src="../../static/flatui/js/flat-ui.min.js"
		th:src="@{/flatui/js/flat-ui.min.js}"></script>
	<script th:inline="javascript">
		//JavaScript代码区域
		layui.use([ 'form', 'jquery', 'layer' ,'element','upload'], function() {
			var form = layui.form, 
			$ = layui.$, 
			layer = layui.layer,
			element = layui.element,
			upload = layui.upload;

			var message = [[${message}]];
			if (message != null){
				layer.msg(message)
			}
			form.verify({
				projectName : function(value, item) { //value：表单的值、item：表单的DOM对象
					if (value == null || value == "") {
						return "申请项目名不能为空";
					}
				},
				description : function(value, item) { //value：表单的值、item：表单的DOM对象
					if (value == null || value == "") {
						return "摘要不能为空";
					}
				},
				upload : function(value, item) { //value：表单的值、item：表单的DOM对象
					if (value == null || value == "") {
						return "上传文件不能为空";
					}
				}
			});
			//监听提交
			form.on('submit(up)', function(data) {
			});
			 $('input.tagsinput').tagsinput(); 
			 /*upload.render({
				  elem: '#upload'
				  ,url: '/prs/project/upload'
				  ,auto: false //选择文件后不自动上传
				  ,exts: 'pdf|doc|docx'
				  ,data: {projectName:$('#projectName').val(),description:$('#description').val()}
				  ,bindAction: '#cupload' //指向一个按钮触发上传
				  ,done: function(res, index, upload){ //上传后的回调
				  	
				  } 
				  ,accept: 'file' //允许上传的文件类型
				  //,size: 50 //最大允许上传的文件大小
				  //,……
				});
				$('#cupload').click(function(){
					 $.ajax({
			             type: "GET",
			             url: "/prs/project/upload",
			             data: {projectName:$('#projectName').val(),description:$('#description').val()},
			             dataType: "json",
			             success: function(data){
			                        
			                      }
			         }); 
			         alert($('#projectName').val());
				}) */
		});
	</script>

</body>
</html>