<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>PRS-项目分配</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/allocate.css"
	th:href="@{/css/allocate.css}" />
<style type="text/css">
#allocate{
	margin-left: 40px;
}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">科研项目评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->

			<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img" /><span th:text="${session.user.username}">贤心</span></a></li>
				<li class="layui-nav-item"><a href="" th:href="@{/user/logout}">注销</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;" th:href="@{/project/allocateManagePage}">项目分配管理</a></li>
					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;" th:href="@{/project/managePage}">项目管理</a></li>
					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">用户管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=1}">申请者管理</a>
							</dd>
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=2}">评审专家管理</a>
							</dd>
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=3}">工作人员管理</a>
							</dd>
						</dl></li>					
						<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;" th:href="@{/field/fieldPage}">领域标签管理</a></li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<span class="layui-breadcrumb" lay-separator="/">
			  <a href=""><cite>项目分配</cite></a>
			</span>
			<blockquote class="layui-elem-quote">以下显示与申请项目所属领域匹配度最高的专家们</blockquote>
			<div id="tableInfo">
				<table class="layui-hide" lay-data="{id: 'reloadId'}" id="expertinfo" lay-filter="expertinfotable"></table>
				<!--  <script type="text/html" id="barDemo">
  					<a class="layui-btn layui-btn-xs" lay-event="detail"><i style="padding-right: 4px;" class="layui-icon">&#xe705;</i>查看所属领域</a>
				</script> -->
			</div>
			<div class="layui-inline">
				<a id="allocate" class="layui-btn"><i style="padding-right: 4px;" class="layui-icon">&#xe609;</i>一键分配</a>
			</div>
		</div>
		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p style="text-align: center;">© All Rights Reserve By PRS</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/
		//JavaScript代码区域
		layui.use([ 'jquery', 'layer' ,'form' ,'table', 'laydate','element'], function() {
			var $ = layui.$, 
			layer = layui.layer,
			form = layui.element,
			table = layui.table,
			laydate = layui.laydate,
			element = layui.element;
			var projectId = [[${projectId}]];
			var applicantId = [[${applicantId}]];
			 //执行一个 table 实例
			   var tableIns = table.render({
			    elem: '#expertinfo'
			    ,url: '/prs/user/expert.json?projectId='+projectId+'&&applicantId='+applicantId
			    ,width: 776
			    ,cols: [[ //表头
			       {type:'checkbox'}
			      ,{field: 'id', title: 'ID', width:80}
			      ,{field: 'username', title: '专家姓名', width:130}
			      ,{field: 'mail', title: '邮箱', width:150}
			      ,{field: 'sex', title: '性别', width:80} 
			      ,{field: 'phone', title: '手机号', width: 140}
			      ,{field: 'title', title: '职称', width: 140}
			     /*  ,{fixed: 'right', title:'操作', width: 180, align:'center', toolbar: '#barDemo'} */
			    ]]
			  });
			  $('#allocate').click(function(){
				   
				});
			 
		});
		/* ]]> */
	</script>

</body>
</html>