<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>PRS-项目管理</title>
<link rel="stylesheet" href="../../static/layui/css/layui.css"
	th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="../../static/css/allocate.css"
	th:href="@{/css/allocate.css}" />
<style type="text/css">
.layui-inline{
	margin-top: 10px;
}
#tableInfo{
	width:1000px;
	position: absolute;
	top:250px;
	left:40px;
}
</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo">科研项目评审系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->

			<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img" /><span th:text="${session.user.username}">贤心</span></a></li>
				<li class="layui-nav-item"><a href="" th:href="@{/user/logout}">注销</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree">
					<li class="layui-nav-item layui-nav-itemed">
						<a class="" href="javascript:;" th:href="@{/group/groupManagePage}">项目分组管理</a>
					</li>
					<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;" th:href="@{/project/allocateManagePage}">项目分配管理</a></li>
					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;" th:href="@{/project/managePage}">项目管理</a></li>
					<li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">用户管理</a>
						<dl class="layui-nav-child">
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=1}">申请者管理</a>
							</dd>
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=2}">评审专家管理</a>
							</dd>
							<dd>
								<a class="" href="javascript:;" th:href="@{/project/userPage?role=3}">工作人员管理</a>
							</dd>
						</dl></li>
						<li class="layui-nav-item layui-nav-itemed"><a class=""
						href="javascript:;" th:href="@{/field/fieldPage}">领域标签管理</a></li>
				</ul>
			</div>
		</div>

		<div class="layui-body">
			<span class="layui-breadcrumb" lay-separator="/">
			  <a href=""><cite>项目管理</cite></a>
			</span>
			<blockquote class="layui-elem-quote">系统所有项目</blockquote>
			<form class="layui-form" method="POST">
				<div class="layui-inline">
					<label class="layui-form-label">项目名</label>
					<div class="layui-input-inline">
						<input id="projectName" type="text" name="projectName" 
							placeholder="根据项目名模糊搜索" autocomplete="off"
							class="layui-input"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">创建人</label>
					<div class="layui-input-inline">
						<input id="username" type="text" name="username" 
							placeholder="根据姓名模糊搜索" autocomplete="off"
							class="layui-input"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">评审状态</label>
					<div class="layui-input-inline">
						<select id="status" name="status">
							<option value=""></option>
							<option value="WAIT_GROUP">待分组</option>
							<option value="WAIT_ALLOCATE">待分配</option>
							<option value="WAIT_REVIEW">待评审</option>
							<option value="IN_REVIEW">评审中</option>
							<option value="REVIEW_DONE">评审完成</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">创建时间</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="createTime" placeholder="开始时间~结束时间"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"></label>
					<a id="select" class="layui-btn"><i style="padding-right: 4px;" class="layui-icon">&#xe615;</i>查询</a>
				</div>
			</form>
			<div id="tableInfo">
				<table class="layui-hide" lay-data="{id: 'reloadId'}" id="applyinfo" lay-filter="applyinfotable"></table>
	
				<script type="text/html" id="barDemo">
  					<a class="layui-btn layui-btn-xs" lay-event="detail"><i style="padding-right: 4px;" class="layui-icon">&#xe705;</i>查看结果</a>
					<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="field"><i style="padding-right: 4px;" class="layui-icon">&#xe60b;</i>所属领域</a>
  				    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i style="padding-right: 4px;" class="layui-icon">&#xe640;</i>删除</a>
				</script>
			</div>
		</div>
		<div class="layui-footer">
			<!-- 底部固定区域 -->
			<p style="text-align: center;">© All Rights Reserve By PRS</p>
		</div>
	</div>
	<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

	<script>
		//JavaScript代码区域
		layui.use([ 'jquery', 'layer' ,'form' ,'table', 'laydate','element'], function() {
			var $ = layui.$, 
			layer = layui.layer,
			form = layui.element,
			table = layui.table,
			laydate = layui.laydate,
			element = layui.element;
			
			 //日期时间范围
			  laydate.render({
			    elem: '#createTime'
			    ,type: 'datetime'
			    ,range: '~'
			    ,format: 'yyyy-MM-dd HH:mm:ss'
			  });			
			 //执行一个 table 实例
			   var tableIns = table.render({
			    elem: '#applyinfo'
			    ,url: '/prs/project/projects.json'
			    ,width: 1090
			    ,cols: [[ //表头
			      {field: 'id', title: 'ID', width:50, sort: true, fixed: 'left'}
			      ,{field: 'projectName', title: '项目名', width:130, edit:true}
			      ,{field: 'description', title: '摘要', width:150, edit:true}
			      ,{field: 'status', title: '评审状态', width:100} 
			      ,{field: 'createUserName', title: '创建人', width: 85}
			      ,{field: 'createTime', title: '创建时间', width: 200, sort: true}
			      ,{field: 'lastUpdateTime', title: '最后更改时间', width: 200, sort: true}
			      ,{fixed: 'right', title:'操作', width: 260, align:'center', toolbar: '#barDemo'}
			    ]]
			   ,page: true
			  });
			  $('#select').click(function(){
				   tableIns.reload({
					   where: { //设定异步数据接口的额外参数，任意设
						   projectName: $('#projectName').val()
						   ,status: $('#status').val()
						   ,createTime: $('#createTime').val()
						   ,username: $('#username').val()
					   }
					   ,page: {
					     curr: 1 //重新从第 1 页开始
					   }
					 });
				});
			 
			//监听工具条
			  table.on('tool(applyinfotable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			    var data = obj.data //获得当前行数据
			    ,layEvent = obj.event; //获得 lay-event 对应的值
			    if(layEvent === 'detail'){
			    	if (data.status != '评审完成'){
			    		layer.msg('目前评审状态为：'+ data.status + ",请耐心等待");
			    	} else {
			    		var projectId = data.id;
				    	window.location.href="/prs/review/resultPage?id="+projectId;
			    	}  
			    } else if(layEvent === 'del'){
			      layer.confirm('真的删除行么', function(index){
			        obj.del(); //删除对应行（tr）的DOM结构
			        layer.close(index);
			        //向服务端发送删除指令
			        $.get("/prs/project/delete", { id: data.id} );
			      });
			    }else if(layEvent === 'field'){
			    	$.ajax({
			             type: "POST",
			             url: "/prs/entityField/relateField",
			             data: {
			            	 id:data.id,
			            	 entityType:"PROJECT"
			             },
			             dataType: "json",
			             success: function(data){
			            	 layer.open({
			            		  type: 0,
			            		  title: '项目所属领域',
			            		  content: data.data //这里content是一个普通的String
			            		});
			                // layer.msg(data.data);   
			             }
			         });
			  }
			  });
			//监听单元格编辑
			  table.on('edit(applyinfotable)', function(obj){
			    var value = obj.value //得到修改后的值
			    ,data = obj.data //得到所在行所有键值
			    ,field = obj.field; //得到字段
			    /* layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ data.projectName); */
			    if (value == null || value == ''){
			    	layer.msg("字段[" + field + "]值不能为空！！！");
			    } else {
			    	$.ajax({
			             type: "POST",
			             url: "/prs/project/update",
			             data: {
			            	 id:data.id,
			            	 projectName:data.projectName,
			            	 description:data.description
			             },
			             dataType: "json",
			             success: function(data){
			                     layer.msg(data.data);   
			             }
			         });
			    }
			    
			  });
		});
	</script>

</body>
</html>