/* .layui-body{
	padding: 150px 350px 0 150px;
}
 */
.layui-breadcrumb{
	position: absolute;
	height:20px;
	top:15px;
	left: 15px;
}
.layui-form{
	width:1500px;
	position: absolute;
	top:80px;
	left:0px;
}
.layui-bg-green{
	height:6px;
	margin-top: 150px;
}
#tableInfo{
	width:1000px;
	position: absolute;
	top:100px;
	left:50px;
}
